{% extends "base.html" %}

{% block content %}

<div class="container">


    <div class="wrapper">
        <p>
        <h3>Appointment Form</h3></p></br>
    </div>
    <div class="contact-form medium-padding120">
        <form action="/add_appointment/" method="POST" class="contact-form">
            {% csrf_token%}
            <div class="row">
                <div class="col s6">
                    <label class="lb">AMKA</label>
                    <input name="amka" id="amka" class="input-standard-grey" placeholder="ID" value="{{form.initial.id}}" readonly="readonly">
                </div>
                <div class="col s6">
                    <label class="lb">Bmi</label>
                    <input name="bmi" id="bmi" class="input-standard-grey" placeholder="Bmi" value="{{form.initial.bmi}}" readonly="readonly">
                </div>

            </div>
            <div class="row">
                <div class="col s6">
                    <label class="lb">Dose</label>
                    <input name="dose" id="dose" class="input-standard-grey" placeholder="Dose" readonly="readonly">
                </div>
                <div class="col s6">
                    <label class="lb">Available Date</label>
<!--                    <input  class="datepicker dates" name="date" id="date" placeholder="Date" value="{{date}}">-->
                    <input name="date" id="date" class="input-standard-grey dates" placeholder="Date" value="{{date}}" readonly="readonly">
                </div>
            </div>




            <div class="row">
                <div class="submit-block table">
                    <div class="col s4 right">
                        <button class="waves-effect waves-green btn">
                            <span class="text">Make Appointment</span>
                        </button>
                    </div>
                    <div class="col-lg-5 table-cell">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock content %}