{% extends "base.html" %}

{% block content %}
 <h3 id="patientsview">Patients Personal Information</h3></br>
<div class="col s12 center" style="overflow: auto">
<table class="highlight">

<!--    <tr>-->

<!--        <p>-->
<!--       </p></br>-->

<!--    </tr>-->

    <thead>
    <tr class="center finds">
        <th>AMKA</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Bmi</th>
        <th>Children</th>
        <th>Smoker</th>
        <th>Region</th>
        <th>Charges</th>
        <th>Telephone Num</th>
        <th>Email</th>
        <th></th>



    </tr>
     </thead>
    <tbody>
    <br>
    {% for item in personal_info%}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.height}}</td>
        <td>{{item.bmi}}</td>
        <td>{{item.children}}</td>
        <td>{{item.smoker}}</td>
        <td>{{item.region}}</td>
        <td>{{item.charges}}</td>
        <td>{{item.telephone_no}}</td>
        <td>{{item.address}}</td>
        <td>
            <form action="delete/{{ item.id }}/" method="POST">
                <button type="submit" class="waves-effect waves-red deletebuttonpat btn">
                    Delete
                </button>

            </form>
        </td>
    </tr>
    {% endfor %}

    <div class="row">
    <div class="pagination">
    <span class="step-links">
        {% if personal_info.has_previous %}
            <li class="waves-effect"><a href="?page=1"><i class="material-icons"> first_page</i></a></li>
           <li class="waves-effect"> <a href="?page={{ personal_info.previous_page_number }}"><i class="material-icons"> chevron_left</i></a></li>
        {% endif %}

        <span class="current">
            <li>Page {{ personal_info.number }} of {{ personal_info.paginator.num_pages }}.</li>
        </span>

        {% if personal_info.has_next %}
             <li class="waves-effect"><a href="?page={{ personal_info.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
             <li class="waves-effect"> <a href="?page={{ personal_info.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
        {% endif %}
    </span>
    </div>
    </div>
    </br>
    </tbody>

</table>
 </div>
</br>
<div class="row">
<div class="pagination right">
    <span class="step-links">
        {% if personal_info.has_previous %}
            <li class="waves-effect"><a href="?page=1"><i class="material-icons"> first_page</i></a></li>
           <li class="waves-effect"> <a href="?page={{ personal_info.previous_page_number }}"><i class="material-icons"> chevron_left</i></a></li>
        {% endif %}

        <span class="current">
            <li id="bottom">Page {{ personal_info.number }} of {{ personal_info.paginator.num_pages }}.</li>
        </span>

        {% if personal_info.has_next %}
             <li class="waves-effect"><a href="?page={{ personal_info.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
             <li class="waves-effect"> <a href="?page={{ personal_info.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
        {% endif %}
    </span>
</div>
    </div>
</br>
</br>
<div class="fixed-action-btn">
  <a class="btn-floating btn-small floatingupdate" href="#patientsview">
    <i class="large material-icons">expand_less</i>
  </a>
    <a class="btn-floating btn-small floatingupdate" href="#bottom">
    <i class="large material-icons">expand_more</i>
  </a>
</div>
{% endblock content %}