{% extends "base.html" %}
{% block charts %}

</br>
</br>
</br>
</br>
</br>





    <div class="row col s12" style="margin: 0 auto; text-align: center">
        <ul id="tabs-swipe-demo" class="tabs col s12" >
            <li class="tab col s3"><a  class="active" href="#plot13" style="color: #ffffff">Body Mass Index</a></li>
            <li class="tab col s3"><a  href="#plot25" style="color: #ffffff">Dose for 2019</a></li>
            <li class="tab col s3"><a  href="#plot4" style="color: #ffffff">Patient Ages</a></li>
            <li class="tab col s3"><a  href="#plot5" style="color: #ffffff">3D/Density</a></li>

        </ul>

    </div>

    <div id="plot13">

        <div class="row">
            <div class="col s12 m12 l6">
                <img class="plots" src="data:image/png;base64,{{data}}" alt=""
                     height="475"
                     ,width="475">

            </div>
            <div class="col s12 m12 l6">
                <img class="plots" src="data:image/png;base64,{{data3}}" alt=""
                     height="475"
                     ,width="475">
            </div>

        </div>



    </div>
    <div id="plot25">
        <div class="row">
            <div class="col s12 m12 l6">
                <img class="plots" style="display: inline-block" src="data:image/png;base64,{{data2}}" alt=""
                     height="475"
                     ,width="475">
            </div>
            <div class="col s12 m12 l6">
            <img class="plots" style="display: inline-block" src="data:image/png;base64,{{data5}}" alt=""
                 height="475"
                 ,width="475">
        </div>

        </div>

    </div>

    <div id="plot4">
        <div class="row">
             <div class="col s12 m12 l6">
            <img class="plots" style="display: inline-block" src="data:image/png;base64,{{data6}}" alt=""
                 height="475"
                 ,width="475">
        </div>
         <div class="col s12 m12 l6">
                <img class="plots" style="display: inline-block" src="data:image/png;base64,{{data4}}" alt=""
                     height="475"
                     ,width="475">
            </div>


    </div>
        </div>
 <div id="plot5">
        <div class="row">

            <div class="col s12" style="text-align: center">
                <img class="plots" src="data:image/png;base64,{{data11}}" alt=""
                     height="400"
                     ,width="400">

            </div>
            </div>

     <div class="col s12" style="text-align: center; margin: 0 auto; width: 50%">
                <img class="plots" src="data:image/png;base64,{{data10}}" alt=""
                     height="400"
                     ,width="400">

            </div>
     </div>




{% endblock charts %}
